@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-idanreHill {
    clip-path: polygon(
      7.87% 0%,
      17.69% 0%,
      22.91% 6.45%,
      32.57% 15.23%,
      36.15% 17.74%,
      38.58% 18.46%,
      41.54% 21.28%,
      44.01% 22.95%,
      47.7% 25.98%,
      52.31% 26.3%,
      59.22% 27.44%,
      68.83% 28.72%,
      74.51% 30.98%,
      79.8% 32.69%,
      83.29% 34.17%,
      86.12% 34.47%,
      89.84% 36.92%,
      90.06% 41.7%,
      91.31% 45.88%,
      94.25% 50.57%,
      97.27% 53.64%,
      98.94% 58.02%,
      100% 62.74%,
      99.85% 67.58%,
      89% 66.97%,
      100% 67.58%,
      70.47% 66.77%,
      68.94% 65.17%,
      65.6% 65.97%,
      62.12% 66.29%,
      57.38% 65.65%,
      54.32% 65.81%,
      51.67% 65.97%,
      48.33% 68.86%,
      45.49% 72.17%,
      43.3% 76.6%,
      42.2% 78.81%,
      40.23% 82.83%,
      40.23% 86.48%,
      36.21% 86.03%,
      32.31% 90.52%,
      27.49% 95.57%,
      22.45% 100%,
      19.92% 98.07%,
      16.96% 97.56%,
      14.84% 98.66%,
      10.16% 94.06%,
      10.16% 90.21%,
      0% 82.5%,
      0.84% 78.81%,
      0.84% 75.6%,
      0.28% 71.75%,
      0.42% 67.58%,
      0.42% 63.4%,
      0% 61.48%,
      0.84% 57.62%,
      2.32% 52.9%,
      2.93% 48.23%,
      1.04% 40.89%,
      0% 36.44%,
      0% 31.5%,
      0% 28.41%,
      3.76% 25.68%,
      6.27% 22.31%,
      7.66% 17.5%,
      8.08% 10.75%,
      7.8% 6.1%,
      7.52% 4.17%
    );
  }
  .clip-AkokoSE {
    clip-path: polygon(
      21.24% 3.36%,
      30.08% 2.43%,
      40.18% 2.53%,
      45.25% 1.4%,
      55.51% 0%,
      69.92% 0%,
      75.52% 0%,
      75.49% 9.31%,
      82.24% 14.39%,
      82.12% 27.05%,
      87.08% 27.04%,
      92.06% 27.24%,
      96.79% 27.27%,
      98.06% 30.43%,
      96.7% 34.1%,
      95.13% 37.48%,
      92.98% 42.82%,
      91.59% 48.49%,
      89.93% 52.25%,
      89.05% 55.32%,
      91.14% 59.14%,
      93.04% 64.23%,
      95.4% 69.45%,
      94.71% 81.79%,
      100% 89.76%,
      97.91% 95.08%,
      93.45% 97.56%,
      90.53% 99%,
      87.47% 100%,
      82.31% 100%,
      77.3% 99.8%,
      72.84% 97.65%,
      70.47% 94.77%,
      68.19% 93.48%,
      65.58% 94.17%,
      62.54% 94.33%,
      58.75% 95.54%,
      53.46% 96.76%,
      49.3% 91.82%,
      44.29% 86.41%,
      40.44% 82.11%,
      37.35% 77.57%,
      34.82% 75.46%,
      32.42% 72.7%,
      28.9% 69.87%,
      25.2% 69.95%,
      22.42% 67.22%,
      19.92% 64.37%,
      17.83% 62.18%,
      16.3% 59.9%,
      13.79% 57.17%,
      10.86% 56.17%,
      8.5% 54.99%,
      7.38% 47.27%,
      6.91% 45.05%,
      5.71% 41.31%,
      4.53% 37.9%,
      3.34% 33.63%,
      1.81% 29.07%,
      0% 22.99%,
      0% 18.95%,
      0% 13.71%,
      0% 3.48%,
      3.2% 4.03%,
      7.38% 3.67%,
      16.43% 3.05%
    );
  }
  .clip-Ileoluji {
    clip-path: polygon(
      34.33% 22.48%,
      34.12% 13.77%,
      36.07% 11.97%,
      38.58% 9.66%,
      41.85% 7.15%,
      46.5% 3.5%,
      50.56% 3.57%,
      54.46% 3.15%,
      58.22% 3.36%,
      62.12% 4.62%,
      65.88% 5.46%,
      70.61% 6.93%,
      74.79% 7.14%,
      78.13% 6.51%,
      81.75% 6.09%,
      82.73% 8.61%,
      84.4% 7.77%,
      87.26% 7.56%,
      87.05% 5.88%,
      87.22% 2.73%,
      90.25% 0%,
      92.48% 0%,
      97.21% 1.89%,
      100% 5.46%,
      100% 12.97%,
      100% 18.63%,
      100% 24.93%,
      100% 31.09%,
      99.44% 36.73%,
      100% 42.62%,
      99.72% 47.13%,
      99.03% 51.35%,
      96.66% 55.82%,
      95.04% 59.73%,
      92.81% 62.08%,
      90.39% 64.23%,
      88.86% 66.6%,
      87.05% 67.86%,
      83.01% 68.49%,
      80.08% 68.91%,
      75.77% 68.7%,
      72.56% 68.7%,
      69.35% 68.61%,
      65.74% 68.28%,
      63.09% 67.5%,
      60.58% 67.5%,
      58.22% 69.44%,
      55.71% 69.83%,
      53.06% 69.17%,
      50% 64.92%,
      47.63% 61.34%,
      43.31% 58%,
      40.39% 58.57%,
      37.6% 60.31%,
      35.04% 63.23%,
      33.69% 67.07%,
      33.57% 71.64%,
      34.38% 76.21%,
      34.52% 79.74%,
      34.26% 83%,
      33.56% 86.83%,
      31.89% 89.32%,
      28.8% 91.19%,
      26.54% 90.67%,
      23.67% 90.76%,
      20.06% 89.92%,
      17.55% 90.34%,
      15.32% 92.65%,
      12.95% 94.75%,
      10.58% 97.27%,
      8.08% 98.95%,
      5.85% 100%,
      2.92% 100%,
      0% 98.74%,
      1.11% 93.28%,
      4.04% 89.08%,
      7.8% 86.55%,
      11% 85.08%,
      13.65% 81.51%,
      12.81% 78.57%,
      11.14% 76.05%,
      12.95% 73.94%,
      14.62% 72.78%,
      16.43% 74.99%,
      22.14% 75.03%,
      23.68% 71.25%,
      23.68% 66.68%,
      26.04% 62.55%,
      29.11% 56.93%,
      30.31% 54.71%,
      30.5% 52.45%,
      30.43% 49.24%,
      30.64% 46.66%,
      31.34% 43.99%,
      32.31% 41.48%,
      33.15% 39.54%,
      33.98% 37.45%,
      33.43% 35.2%,
      32.03% 33.23%,
      32.17% 30.14%,
      32.45% 26.37%
    );
  }
  .clip-ifedore {
    clip-path: polygon(
      19.99% 1.72%,
      23.26% 0%,
      27.58% 0%,
      31.75% 0%,
      38.93% 0%,
      43.58% 1.87%,
      49.03% 3.98%,
      52.65% 5.46%,
      55.57% 6.48%,
      60.03% 6.39%,
      64.76% 6.82%,
      69.78% 6.25%,
      73.68% 5.79%,
      78.41% 5.56%,
      82.03% 5.96%,
      86.63% 5.07%,
      89.14% 5.43%,
      91.5% 5.7%,
      94.71% 5.55%,
      100% 5.19%,
      100% 12.57%,
      100% 21.08%,
      100% 26.42%,
      99.58% 30.55%,
      98.19% 33.33%,
      96.8% 35.97%,
      95.68% 38.58%,
      94.57% 42.66%,
      92.9% 46.05%,
      92.39% 49.55%,
      89.88% 51.9%,
      87.74% 54.73%,
      85.65% 56.28%,
      82.73% 57.82%,
      80.22% 59.53%,
      76.6% 61.44%,
      73.12% 62.59%,
      69.5% 64.49%,
      66.01% 66.3%,
      63.23% 66.96%,
      60.58% 67.5%,
      58.91% 68.77%,
      55.71% 69.83%,
      54.32% 70.93%,
      52.79% 72.65%,
      51.11% 73.69%,
      48.05% 75.91%,
      45.82% 78.83%,
      43.59% 81.23%,
      41.92% 83.65%,
      39.92% 86.16%,
      40.51% 89.46%,
      40.81% 93.62%,
      40.79% 97.78%,
      40.51% 100%,
      38.3% 100%,
      35.09% 100%,
      31.62% 100%,
      27.27% 100%,
      24.31% 100%,
      20.88% 100%,
      17.83% 100%,
      14.21% 100%,
      13.37% 97.8%,
      13.37% 94.61%,
      13.23% 91.08%,
      13.23% 86.85%,
      14.21% 83.14%,
      15.6% 79.78%,
      16.57% 76.58%,
      16.02% 73.09%,
      16.16% 69.87%,
      16.3% 66.23%,
      15.88% 62.82%,
      16.02% 59.16%,
      16.16% 55.77%,
      16.02% 52.37%,
      16.3% 49.8%,
      15.88% 46.95%,
      15.32% 43.42%,
      15.18% 39.89%,
      13.79% 37.32%,
      11% 36.18%,
      8.58% 33.95%,
      5.57% 32.36%,
      2.72% 31.74%,
      0% 29.97%,
      0% 27.98%,
      0% 24.79%,
      0% 20.82%,
      0.56% 18.19%,
      2.79% 14.85%,
      6.82% 10.84%,
      10.17% 7.35%,
      14.07% 5.2%
    );
  }
}

@layer base {
  :root {
    --background: 204 86% 14%;
    --foreground: 201 61% 94%;
    --card: 0 0% 60%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 50%;
    --popover-foreground: 0 0% 15%;
    --primary: 203 64% 60%;
    --primary-foreground: 20 90% 96%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 36 86% 50%;
    --accent-foreground: 36 100% 45%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 20 89% 54%;
    --primary-foreground: 20 90% 96%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 39 98% 49%;
    --accent-foreground: 20 89% 54%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@import "/embla-carousel/embla.css";
@import "/embla/emblaHotel.css";

@layer base {
  * {
    /* @apply border-border; */
    box-sizing: border-box;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.card {
}

.cardInfo-title {
  @apply text-[40px] font-bold;
}

.cardInfo-description {
  @apply text-[20px] font-normal leading-normal;
}

.cardTrigger {
  @apply flex items-center justify-center p-1 h-[64px] bg-primary-foreground;
}

.truncates {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 30%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 80%;
}

.mySwiper {
  height: 6rem;
  display: flex;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  justify-content: end;
  width: 100%;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8px;
  background: #f26722;
  transform-origin: 0%;
  z-index: 99;
}

.myShadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.bgImage {
  background-image: url("/public/dome.jpg");
}

.displayHero {
  @apply 2xl:text-[10rem] xl:text-[8rem] lg:text-[6rem] text-[4rem] 2xl:leading-[9rem] xl:leading-[7rem] lg:leading-[5rem];
}
.displayHeader {
  @apply lg:text-[4rem] text-[3rem] text-neutral-500 font-black lg:leading-[4rem] leading-[3rem] sm:w-full;
}

.parent {
  flex-direction: column;
  @apply z-[1000];
}

.parent[data-isOpen="true"] {
  @apply absolute top-0;
}

.child {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  @apply flex items-center justify-center mt-5 ml-12;
}

.bgGradient {
  /* @apply bg-gradient-to-b from-[#FEF2EC] via-5% to-[#fbceb7] to-95%; */

  background: rgb(0, 50, 80);
  background: linear-gradient(
    274deg,
    rgba(0, 50, 80, 1) 0%,
    rgba(89, 169, 218, 1) 60%
  );
}

.months-container {
  @apply text-neutral-500 focus:text-accent hover:text-accent hover:border-b-accent focus:border-b-[8px] focus:border-b-accent border-b-8 border-b-transparent z-50 py-4;
}

.heroCardShadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
